/********************************* PROPERTIES *********************************/
:root {
	--blender-wire: #8D8D8D;
	--blender-grid: #1A1A1A;
	--blender-node: #303030;
	--blender-border: #1A1A1A;
	--blender-orange: #FFA028;
	--white: #FFFFFF;
	--light-gray: #EEEEEE;
	--darker-gray: #A0A0A0;
	--google-blue: #4285F4;
	--ff-sans: sans-serif;
	--fs-1: 28px;
	--fs-2: 24px;
	--fs-3: 20px;
	--fs-4: 18px;
	--fs-5: 15px;
	--fs-6: 14px;
	--fs-7: 12px;
	--fs-8: 10px;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
	--shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
	--shadow-3: 0 24px 80px hsla(0, 0%, 0%, 0.25);
	--transition-1: 0.25s ease;
	--transition-2: 0.5s ease-in-out;
	--video-width-l: 384px;
	--video-height-l: 216px;
	--video-width-p: 144px;
	--video-height-p: 256px;
}


/************************************ RESET ***********************************/
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img, ion-icon, button, time, span { display: block; }

button {
	font: inherit;
	background: none;
	border: none;
	text-align: left;
	cursor: pointer;
}

input, textarea {
	display: block;
	width: 100%;
	background: none;
	font: inherit;
}

::selection {
	background: var(--blender-orange);
	color: var(--blender-border);
}

:focus { outline-color: var(--blender-orange); }

html { font-family: var(--ff-sans); }

body { background: var(--blender-border); }


/******************************** REUSED STYLE ********************************/
.link {
	color: var(--blender-orange);
}

.link:hover {
	color: var(--darker-gray);
}

.sidebar {
	background: var(--blender-node);
	border: 1px solid var(--blender-wire);
	border-radius: 6px;
	padding: 15px;
	box-shadow: var(--shadow-1);
	z-index: 1;
}

.separator {
	width: 100%;
	height: 1px;
	background: var(--blender-wire);
	margin: 16px 0;
}

.icon-box {
	position: relative;
	background: var(--blender-grid);
	width: 30px;
	height: 30px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: var(--blender-orange);
	box-shadow: var(--shadow-1);
	z-index: 1;
}

.icon-box::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--blender-node);
	border-radius: inherit;
	z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }

@keyframes fade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
	color: var(--white);
	text-transform: capitalize;
}
.h2 { font-size: var(--fs-1); }
.h3 { font-size: var(--fs-2); }
.h4 { font-size: var(--fs-4); }
.h5 {
	font-size: var(--fs-7);
	font-weight: var(--fw-500);
}

.article-title {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 2px;
	font-weight: var(--fw-600);
}

.has-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.has-scrollbar::-webkit-scrollbar-track {
	background: var(--blender-grid);
	border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
	background: var(--blender-orange);
	border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.content-card {
	position: relative;
	background: var(--blender-grid);
	padding: 15px;
	padding-top: 45px;
	border-radius: 14px;
	box-shadow: var(--shadow-2);
	cursor: pointer;
	z-index: 1;
}

.content-card::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--blender-wire);
	border-radius: inherit;
	z-index: -1;
}



/************************************ MAIN ************************************/
main {
	margin: 30px 30px;
	margin-bottom: 75px;
	min-width: 259px;
}



/*********************************** SIDEBAR **********************************/
.sidebar {
	margin-bottom: 15px;
	max-height: 128px;
	overflow: hidden;
	transition: var(--transition-2);
}

.sidebar.active { max-height: 405px; }

.sidebar-info {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
}

.profile-box {
	background: var(--blender-grid);
	border-radius: 6px;
}

.info-content { width: 100%; }
.info-content .name {
	color: var(--white);
	font-size: var(--fs-2);
	font-weight: var(--fw-500);
	letter-spacing: -0.25px;
	margin-bottom: 10px;
	text-align: center;
}
.info-content .title {
	color: var(--white);
	background: var(--blender-grid);
	font-size: var(--fs-8);
	font-weight: var(--fw-300);
	width: max-content;
	padding: 3px 12px;
	border-radius: 6px;
	margin: auto;
}

.sidebar-info_more {
	opacity: 1;
	visibility: visible;
	transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
	opacity: 1;
	visibility: visible;
}

.social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding-bottom: 4px;
	padding-left: 7px;
	list-style: none;
}

.social-item .social-link {
	color: var(--darker-gray);
	font-size: 18px;
}

.social-item .social-link:hover { color: var(--light-gray); }


/************************************ ABOUT ***********************************/
.about-text {
	color: var(--light-gray);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	line-height: 1.6;
}
.about-text p { margin-bottom: 12px; }
.about-text i {
	color: var(--blender-wire);
	font-size: var(--fs-5);

}
.about-text li {
	margin-left: 32px;
	margin-bottom: 12px;
}


/********************************* PORTFOLIO **********************************/
.filter-list {
	display: none;
	list-style: none;
}

.project-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
	margin-bottom: 10px;
	list-style: none;
}

.project-item { display: none; }

.project-item.active {
	display: block;
	animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
	0% { transform: scale(0.5); }
	100% { transform: scale(1); }
}

.project-item > a { width: 100%; }

.project-img {
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 15px;
}

.project-img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1;
	transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }

.project-item-icon-box {
	--scale: 0.8;

	background: var(--blender-wire);
	color: var(--blender-orange);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(var(--scale));
	font-size: 20px;
	padding: 18px;
	border-radius: 12px;
	opacity: 0;
	z-index: 1;
	transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
	--scale: 1;
	opacity: 1;
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
	object-fit: none;
	width: 100%;
	max-height: auto;
	transition: var(--transition-1);
	aspect-ratio: 4/5;
	zoom: 70%;
}

.project-item > a:hover img { transform: scale(1.1); }

.project-title,
.project-category { margin-left: 10px; }

.project-title {
	color: var(--white);
	font-size: var(--fs-5);
	font-weight: var(--fw-400);
	text-transform: capitalize;
	line-height: 1.3;
	font-weight: bold;
	margin-bottom: 8px;
}

.project-category {
	color: var(--darker-gray);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	margin-bottom: 5px;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	overscroll-behavior: contain;
	z-index: 20;
	pointer-events: none;
	visibility: hidden;
}
.modal-container::-webkit-scrollbar { display: none; }
.modal-container.active {
	pointer-events: all;
	visibility: visible;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: hsl(0, 0%, 5%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 1;
	transition: var(--transition-1);
}
.overlay.active {
	opacity: 0.8;
	visibility: visible;
	pointer-events: all;
}

.items-modal {
	background: var(--blender-node);
	position: relative;
	padding: 15px;
	margin: 15px 12px;
	border: 1px solid var(--blender-wire);
	border-radius: 6px;
	box-shadow: var(--shadow-3);
	transform: scale(1.2);
	opacity: 0;
	transition: var(--transition-1);
	z-index: 2;
}

.modal-container.active .items-modal {
	transform: scale(1);
	opacity: 1;
}

.modal-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	background: var(--blender-grid);
	border-radius: 8px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	font-size: 18px;
	opacity: 0.7;
}
.modal-close-btn:hover,
.modal-close-btn:focus { opacity: 1.0; }
.modal-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.modal-content p {
	color: var(--light-gray);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	line-height: 1.6;
}

.modal-content-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8px;
}

.modal-download-btn {
	position: center;
	border-radius: 8px;
	width: 120px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	box-shadow: --shadow-1;
	font-size: 18px;
	font-weight: bold;
	background: var(--google-blue);
	opacity: 0.8;
}
.modal-download-btn:disabled {
	background: var(--blender-wire);
	opacity: 0.5;
}
.modal-download-btn:hover:enabled,
.modal-download-btn:focus:enabled { opacity: 1.0; }


/********************************* RESPONSIVE *********************************/
@media (min-width: 580px) {
	/**
	 * PROPERTIES
	 */
	:root {
		--video-width-l: 384px;
		--video-height-l: 216px;
		--video-width-p: 216px;
		--video-height-p: 384px;
	}
	.icon-box {
		width: 48px;
		height: 48px;
		border-radius: 12px;
		font-size: 18px;
	}

	/**
	 * MAIN
	 */
	main {
		margin-top: 40px;
		margin-bottom: 100px;
	}

	.about-text { margin-bottom: 40px; }

	/**
	 * SIDEBAR
	 */
	.sidebar {
		width: 500px;
		margin-inline: auto;
		padding: 30px;
		max-height: 265px;
	}

	.sidebar.active { max-height: 600px; }

	.sidebar-info { gap: 25px; }

	.profile-box { border-radius: 30px; }

	.profile-box img { width: 120px; }

	.info-content .name {
		margin-bottom: 15px;
		white-space: nowrap;
	}

	.info-content .title { padding: 5px 18px; }

	.separator { margin: 32px 0; }
}

@media (min-width: 768px) {
	/**
	 * PROPERTIES
	 */
	:root {
		--shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
		--shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
	}

	/**
	 * MAIN
	 */
	main { margin-bottom: 60px; }

	.main-content {
		min-width: 90%;
		width: 90%;
		margin: 0;
	}

	/**
	 * PORTFOLIO
	 */
	.filter-list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		padding-left: 5px;
		margin-bottom: 10px;
	}

	.filter-item button {
		color: var(--light-gray);
		font-size: var(--fs-5);
		transition: var(--transition-1);
	}
	.filter-item button:hover { color: var(--darker-gray); }
	.filter-item button.active { color: var(--blender-orange); }

	.project-list { grid-template-columns: repeat(auto-fit, 400px); }
}

@media (min-width: 1280px) {
	/**
	 * REUSED STYLE
	 */
	.sidebar { min-width: 320px; }

	.has-scrollbar::-webkit-scrollbar-button { width: 100px; }

	/**
	 * RESET
	 */
	body::-webkit-scrollbar { width: 20px; }
	body::-webkit-scrollbar-track { background: var(--blender-border); }
	body::-webkit-scrollbar-thumb {
		border: 5px solid var(--blender-border);
		background: hsla(0, 0%, 100%, 0.1);
		border-radius: 20px;
		box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
								inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
	}
	body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }
	body::-webkit-scrollbar-button { height: 60px; }

	/**
	 * MAIN
	 */
	main {
		max-width: calc(100% - 300px);
		margin-inline: auto;
		display: flex;
		justify-content: center;
		align-items: stretch;
		gap: 50px;
	}

	/**
	 * SIDEBAR
	 */
	.sidebar {
		position: sticky;
		top: 40px;
		max-height: max-content;
		height: 100%;
		margin-bottom: 0;
		padding-top: 60px;
		z-index: 1;
	}

	.sidebar-info { flex-direction: column; }

	.profile-box img { width: 150px; }

	.separator:last-of-type {
		margin: 15px 0;
		opacity: 0;
	}
}

@media (min-width: 1600px) {
	/**
	 * PROPERTIES
	 */
	:root {
		--video-width-l: 1024px;
		--video-height-l: 576px;
		--video-width-p: 360px;
		--video-height-p: 640px;
	}
}
